h1 { 
    color: rgb(255, 255, 255); 
    font-size: 70px; 
    text-align: center;
    
    } 
img {
    height: 50%;
    width: 50%;
}

body {
    background-image: url("ws_Colored_Abstract_Flower_1920x1200.jpg");
    height: 100%;
    width: 100%;
    background-size: cover;
   }


p {
    color: rgb(255, 255, 255);
    text-align: center;
    padding-right:300px;
    padding-left:300px;
    font-size: 25px;
}

a {
    color: rgb(255, 255, 255); 
    text-align: center;
    font-size: 40px;
    justify-content:flex-end
}

